$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// add files to customize bootstrap
@import "_custom-fonts.scss";
@import "_custom-variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// your own css/scss
.navbar-brand{
    background: transparent; 
}

.container-fluid{
   background-image: url('http://wallpapersdesk.net/wp-content/uploads/2015/03/1484_space.jpg');
    background-repeat: no-repeat;
    height: 450px;
    
}

.container-fluid h1{
    color: white;
}

.container-fluid p{
    color: white;
}

.jumbotron{
    background: transparent;    
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    color: blue;
}

p{
    text-align: center;
}

.row{
    padding-top: 50px;
    padding-bottom: 50px;
}

#tour {
    background-color: transparent;
    color: white;
}

#kolmone {
    border-top: solid;
    border-top-color: lightgray;
    border-top-width: thin;
}

#jumboKuva{
    max-height: 120px;
}
// your own css/scss ends
